<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>output</title>
</head>



<div class = "form" style="text-align:center">
         <h1 style="text-align:center">Files uploaded successfully </h1>
         <form action="/output" method = "POST">

                <input type="submit" value="plagarism-check" >
        </form>
        </div>
</body>
</html>

<style>
body {
            background:
            linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://as2.ftcdn.net/jpg/02/89/82/45/500_F_289824545_OHVVrJXWuAhFO0lMDkowBsk4CwuYaqFo.jpg');
        }


div {
    height: 200px;
    width: 400px;
    background: white;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}
</style>
